# --- Python  ---
__pycache__/
*.py[cod]
*$py.class
*.pyd
.Python
env/
venv/
.env

# --- IDE and Editor folders ---
.vscode/
.idea/
*.swp
*.swo

# --- OS  ---
.DS_Store
Thumbs.db


# ---  ---
*.tmp
*.bak